<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/profile.css">



  <%if(locals.emply){%>

  
    

    <%if(locals.old_student_list.length>0){%>


      <div class="container mt-2">
        <div class="row bg-secondary">
            <div class="col">
              <h3 class="text-center text-white"><a href="/interview/page" target="_blank" style="text-decoration: none; color: white;">Click here to allocate interviews </a></h3>

            </div>
        </div>
      </div>
  
  <div class="container mt-1">
    <div class="row bg-primary">
      <div class="col">
        <div class="table-responsive">

        <table class="table mt-1">
          <thead>
            <tr>
              <th scope="col">Student Id</th>
              <th scope="col">Student's name</th>
              <th scope="col">Course Name</th>
              <th scope="col"> Course Score</th>
              <th scope="col"> Status</th>
              <th scope="col"> Eligible for Interviews</th>
            </tr>
          </thead>
          
          <tbody>
            <%for(let oldStudentsList_details of old_student_list){%>
              <tr>
                <th scope="row"> <%=oldStudentsList_details.std_uid%></th>
                <td>  <%=oldStudentsList_details.stdname%></td>
                <td> <%=oldStudentsList_details.course%></td>
                <td> <%=oldStudentsList_details.coursescore%></td>
                <td>   <%=oldStudentsList_details.status%></td>
                <td>   <%=oldStudentsList_details.eligibleforinterview%></td>
              </tr>
              <%}%>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
    </div>
    
    
          <%}else{%>
            <div class="no-list">
              <span>Interview List not Available</span>
            </div>
            <%}%>
<%}%>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
